

.question-section {
    background: #fcf7f1;
    .card{
        border:none!important;
        background: #fcf7f1;
        .card-header{
            border:none!important;
            background: none!important;
        }
        span{
            padding:5.16px 10px;
        
            background: burlywood;
            border-radius: 50%;
            ::before{
                content
            }
        }
        button{
            text-decoration: none;  
            color: black;
            font-weight: bold;
        }
    }



    a {
        text-decoration: none;
    }
    @media (max-width: 768px) {
        h1{
            font-size: 1.5rem;
        }
        button{
            text-align: left;
        }
    }




    

}
@media (max-width: 768px) {
    h1{
        font-size: 2rem;
    }
}
