.swiper-slide.slide1 {
    background-image: url(../images/slide1.jpg);
}

.swiper-slide.slide2 {
    background-image: url(../images/slide2.jpg);
}

.swiper-slide.slide3 {
    background-image: url(../images/slide5.jpg);
}

.swiper-slide.slide1,
.swiper-slide.slide2,
.swiper-slide.slide3 {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 48vw;
}

.swiper-container {
    color: #FFFFFF;
    font-family: Aller;
}

.module-3__caption-slide1,
.module-3__caption-slide3 {
    position: absolute;
    top: 25%;
    left: 5%;
    line-height: 80px;
}

.title_caption {
    font-size: 15px;
    line-height: 22px;
}

.content_caption,
.title_caption3 {
    font-size: 65px;
}

.content_caption2 {
    padding-top: 15%;
    font-size: 65px;
    text-align: center;
    line-height: 80px;
}

.more_infomation {
    border-radius: 30px;
    padding: 12px 35px;
    margin-top: 40px;
    font-size: 15px;
    border: none;
    background-color: rgb(235, 198, 182);
    color: rgb(255, 255, 255);
    line-height: 26px;
}

.more_infomation.slide2 {
    margin-left: 45%;
}

.content_caption3 {
    font-size: 22px;
    line-height: 26px;
}