.scroll_to_top {
    background-color: #EDB39B;
    color: #FFFFFF;
    position: fixed;
    width: 3em;
    right: 2em;
    height: 3em;
    line-height: 3em;
    text-align: center;
    cursor: pointer;
    z-index: 100001;
    transition: all ease 1.5s;
}

.scroll_to_top.show {
    opacity: 1;
    bottom: 2em;
}

.show:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #72b5ca;
}

.show::after {
    content: '\f106';
    font-family: "FontAwesome";
    width: 1em;
    margin-right: .2em;
    text-align: center;
    line-height: 1em;
    margin-left: .2em;
}