.scroll_to_top {
    display: block;
    position: fixed;
    background-color: #EDB39B;
    color: #FFFFFF;
    width: 3em;
    right: 2em;
    height: 3em;
    line-height: 3em;
    bottom: -4em;
    opacity: 0;
    z-index: 10001;
    text-align: center; 
    cursor: pointer;
    transition: all ease 1.5s; 
}

.show_back_to_top{
    opacity: 1;
    bottom: 2em;
}
.show_back_to_top:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #72b5ca;
}

.show_back_to_top::after {
    content: '\f106';
    font-family: "FontAwesome";
    width: 1em;
    margin-right: .2em;
    text-align: center;
    line-height: 1em;
    margin-left: .2em;
    
}