.title-module-4 {
    font-family: "texgyretermes", serif;
    font-size: 3em;
    line-height: 200px;
    font-weight: 400;
}

.title-services {
    margin: 0;
    text-align: center;
}

.title-services::after {
    content: ' ';
    display: block;
    width: 20px;
    height: 2px;
    margin: -50px auto 0.55em;
    background-color: #72b5ca;
}

.item-services {
    font-size: 0.93em;
    letter-spacing: 1px;
    line-height: 1.7em;
    margin: 0.25em auto 3.8em;
    max-width: 520px;
    text-align: center;
    text-transform: uppercase;
    color: #6f6f6f;
    margin-top: 25px;
}

.fa-check {
    position: absolute;
    color: #72b5ca;
    left: 12px;
    top: 10px;
}

.menu-item-services {
    background-color: rgba(114, 181, 202, 0.1);
    display: inline-block;
    border-radius: 2px;
    line-height: 2.4em;
    margin-bottom: 0.135em;
    padding-right: 1.3em;
    padding-left: 2.5em;
    position: relative;
    color: #6f6f6f;
}

.explore-more {
    margin-top: 60px;
    margin-left: 40%;
}

.btn-explore-more {
    background-color: #72b5ca;
    color: #FFFFFF;
    border-radius: 1.66em;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 1em 2em;
    border: none;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 300;
}
.btn-explore-more:hover,.btn-explore-more:focus{
    cursor: pointer;
    outline: none;
}
@media only screen and (max-width: 768px) {
    .title-module-4 {
        font-size: 30px!important;
    }
    .menu-item-services {
        font-size: 12px!important;
    }
}