.masory-section{
    .grid{
     
    }
    .menu{
        border-bottom: 2px solid #cecece;
    }
    .menu-button{
        padding:  10px 0px;
       margin-right: 15px;  
        cursor: pointer;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .color{
     
        border-bottom: 2px solid cadetblue;
        
        
    }
    .imgdiv{
       width: 100%;
       height: 230px;
    
       @media screen and (max-width: 992px) {
        height: 180px;
       }
       @media screen and (max-width: 768px) {
        height: 300px;
       }
    }
   
    .gallery-image{
        visibility: inherit;
    }
 
};
   
